<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Ban_Hang</title>

    <!-- Thêm các file CSS từ template -->
    <link href="~/templates/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/templates/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <!-- Thêm các file JS từ template -->
    <script src="~/templates/js/jquery.min.js"></script>
    <script src="~/templates/js/bootstrap.bundle.min.js"></script>
</body>
</html>
