
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center text-danger">Bạn ơi bạn đâu có quyền vào trang Admin đâu nhỉ?</h1>
        <p class="text-center">Nếu đẹp trai đẹp gái rồi thì liên hệ chủ shop để thành CTV cho shop mình nhé!</p>
        <div class="text-center">
            <a href="/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</body>
</html>
