
@{
    ViewData["Title"] = "Home Page";
    var welcome = TempData["UserRole"];
}

<div class="text-center">
    <h1 class="display-4">Kính chào @welcome đến với shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
